.container{
    margin: 50px;
    background-color: rgb(30, 105, 105);
    text-align: center;
    width: 90%;
    height: 100%;
}

h1{
    color: rgb(233, 152, 47);
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 3rem;

}

ul{
    text-align: center;
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}
.listitem{
    background-color: beige;
    margin-bottom: 1rem 0;
    border-radius: 4rem;
    box-shadow: 0 2px 5px 0 grey;

}

.heading{
    line-height: 2rem;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 500;
}
.sub-list{
    /* display: none; */
    line-height: 1.5rem;
    border-top: 3px solid  rgb(30, 105, 105);

}